* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body {
    background-color: #333;
    color: #fff;
    font-family: "Inter", sans-serif;
}

.main {
    background: #fff;
    height: 100vh;
    max-width: 60em;
    position: relative;
    margin: 0 auto;
}

/* === universal styles === */
h1 { 
    font-size: 3.2rem;
    font-weight: 800;
    border-bottom: 1px #fff solid;
}

h3 {
    font-size: 2rem;
    color: #000;
}

p { font-size: 1.5em; }


.fa-star {
    color: #FEC654;
    padding-bottom: 1em;
}

/* === anchor effects === */
a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

a:hover {
    color: #ffcc00;
    transform: scale(1.05);
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* === content and Nav area === */
.content {
    height: 22em;
    width: 60em;
    border: #fff solid 1px;
    position: relative;
    z-index: 1;
    position: fixed;
    top: 0; 
}

.content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(249, 246, 246, 0.993);
    filter: grayscale(70%) brightness(30%);
    z-index: -1;
    background: url("/images/navBG.avif") no-repeat center center/cover;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8em;   
}

.top-nav-left {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas:
        "... ... ..."
        "logo tag tag"
        "logo tag tag";    
}

.logo {
    width: 6.5em;
    background-color: #fff;
    border-radius: 6px;
    margin-right: 1em;
    grid-area: logo;
}

.tagLine {
    grid-area: tag;
    padding-left: 0.5em;
    padding-right: 2em;
    margin-left: 0;
    align-content: start;
}

.tagLine p {
    font-style: italic;
}

/* === search bar area === */
.content .search-container {
    position: absolute;
    left: 4.5em;
    top: 19em;
    display: block;
    border: #d1d5db 1px solid;
    border-radius: 6px;
}

.search-container form {
    max-width: 49em;
}

.search-box {
    position: relative;
    display: inline-block;
}

.search-box i {
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none;
}

.content input[type=text] {
    padding: 0.5em 3.35em;
    font-size: 1.7rem;
    border: none;
}

.content input:hover {
    cursor: pointer;
}

.content .search-container button {
    float: right;
    padding: 0.5em 2.5em;
    background: #ddd;
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
}

.content .search-container button:hover {
    background: #ccc;
    cursor: pointer;
}

/* === cards ===*/
.cards-display,
.watchlist-display {
    color: #333;
    background: #fff;
    margin-top: 3em;
    padding-top: 22em;
}

#background-focus {
    cursor: pointer;
    transition: transform 0.2s ease;
}

#background-focus:hover {
    transform: scale(1.1);
}

.background {
    height: 200px;
    opacity: 0.2;
}

.bg-image {
    color: #C3BCBC;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.watchlist-bg {
    width: 300px;
    height: 300px;
}

.card-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-bottom: 1px solid #aaa;
    padding: 2rem;
    transition: box-shadow 0.3s ease;
}

.card-info:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

.card-info-display {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0;
    width: 100%;
}

.movie-detail-top {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    text-align: center; 
    gap: 1rem; 
}

.movie-detail-top h3 {
    margin: 0;
    flex: 1;
    white-space: normal;
    text-align: left;
}

.rating {
    display: grid;
    grid-template-columns: 1fr auto 1fr 1fr 1fr;
    grid-template-areas: 
        "title star tomo tomo tomo";
    gap: 2em;
}

.title { grid-area: title;}
.star { grid-area: star; }
.tomo {  grid-area: tomo; }

.movie-detail-middle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.movie-detail-top p,
.movie-detail-middle p {
    color:#111827;
    font-size: 1.2rem;
    margin: 0;
}

.movie-detail-middle .add-movie,
.movie-detail-middle .delete-movie {
    background: none;
    border: none;
    color:#111827;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 0;
}

.movie-detail-middle .add-movie:hover,
.movie-detail-middle .delete-movie:hover {
    opacity: 0.65;
}

.movie-detail-bottom p {
    color: #6B7280;
    font-size: 1.4rem;
    line-height: 2em;
}

.moviePoster {
    width: 100px;   
}

=== mobile styles ===
@media(max-width: 510px) {
    h1 {
        font-size: 2.2em;
    }

    p { font-size: 1.4em; }

    .content .search-container {
        width: 100vw;
        left: 0.8em;
    }

    .content input[type=text] {
        padding: 0.5em 1.3em;
    }

    .content .search-container button {
        padding: 1.5em 1.8em;
    }

    .top-nav {
        margin-right: 1em;
        margin-left: 1em;
    }

    .content input[type=text] {
        padding-left: 2.5em;
    }
}

@media(max-width: 375px) {
    .content {
        height: 17em;
    }

    .top-nav {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 8em;   
    }

    .top-nav {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 4em;   
    }

    .top-nav h1 {
        font-size: 2rem;
    }

    .top-nav p {
        font-size: 1.2rem;
    }
    
    .top-nav-left {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "... ..."
            "logo logo"
            "tag tag";    
    }
    
    .logo {
        width: 5em;        
        margin-left: 1em;
    }

    .search-container form {
        max-width: 36em;
    }
    
    .content input[type=text] {
        padding: 0.5em 2em;
        font-size: 1.4rem;
    }
    
    .content .search-container button {
        float: right;
        padding: 0.7em 2.4em;
        margin-right: 1em;
        font-size: 1.5rem;
    }

    .content .search-container {
        left: 0.9em;
        top: 15em;
    }

    .search-box i {
        left: 0.9em;
    }

    .cards-display,
    .watchlist-display {
    margin-top: 2em;
    padding-top: 16em;
    }
}